*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

.wrapper{
    margin:10px 100px;
}
.header{
    background-color: khaki;
    font-family: cursive;
    font-size: 40px;
    padding-top:25px;
    padding-bottom:25px;
    text-align:center;
    text-shadow: 5px 5px purple;
}
.header > h1 > a{
    color: crimson;
    text-decoration:none;
}
.nav{
  
 
}
.nav > ul {
    background-color: darkslategrey;
    list-style:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav > ul > li {
    font-size:40px;
    display:inline-block;
    padding-left:130px;
}
.nav > ul > li > a{
    text-decoration:none;
    color: springgreen;

}
.nav > ul > li > a:hover{
    color:white;
    text-shadow:2px 2px wheat;
    background-color:black;
}
.container{
 
    min-height:500px;
    background-color: wheat;
}
.content{
    width:80%;
    min-height:500px;
    background-color: dimgrey;
    font-size:20px;
    float: left;
    padding:20px;
    color:white;
    text-align:justify;
}
.content > img{
    display:block;
    padding-bottom:25px;
    margin-right:auto;
    margin-left:auto;
    padding-top:0px;
    padding-bottom:10px;
}
.side-bar{
    color: grey;
    text-align:justify;
    background-color: wheat;
    min-height:500px;
    width:20%;
    float:right;
    
}
.side-bar > h1{
    padding:5px;
    color:brown;
    padding-bottom:25px;
    font-family: cursive;
    text-align:center;
    background-color: darkgray;
    text-shadow: 2px 2px blue;
    border-radius: 50px;

}
.side-bar > p{
    padding:15px;
    font-family: cursive;
}
.side-bar > img {
    padding:10px;
}
.container::after{
    content:" ";
    display:block;
    clear:both;
    *zoom:1;
}
.footer{
    background-color: silver;
  text-align:center;
  font-size:25px;
  color: darkred;
    padding:10px;

}
.footer > a{
    text-decoration:none;
    color:blue;
}
.footer > a:hover{
    color:white;
    

}